<%= form_for @taco do |f| %>
  Taco <%= f.label :name  %>
  <%= f.text_field :name %>
<!-- arg1: AR method on the form model that associates this collection
arg2: collection of objects we are iterating through
arg3: which method (on a collection object) to attach to the value input attribute
arg4: which method (on a collection object) to attach to the label -->
  <div class="">
    <%= f.collection_check_boxes(:ingredient_ids, @ingredients, :id, :name, {}, {style: 'margin-left:20px', class: 'niky-rules'}) %>
  </div>

  <%= fields_for :ingredient do |ingredient_fields| %>
    <div class="">
      <h3>New Ingredient</h3>
      <%= ingredient_fields.label :name%>
      <%= ingredient_fields.text_field :name %>
      <%= ingredient_fields.label :calories %>
      <%= ingredient_fields.number_field :calories %>
    </div>
   <% end %>

<div class="">
  <%= f.submit %>
</div>
<% end %>
